*{
    margin: 0;
    padding: 0;
}

.backgroundMovies {
    background-image: url(imagenes/background.png);
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.logo {
  position: absolute;
  width: 204px;
  height: 60px;
  left: 128px;
  top: 40px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
/* identical to box height */


  color: #EA415B;
}

.welcomeMessage {
  position: absolute;
  width: 873px;
  height: 360px;
  left: 128px;
  top: 140px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;

  color: #FFFFFF;
}

.price {
  position: absolute;
  width: 490px;
  height: 72px;
  left: 128px;
  top: 510px;
  
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  
  color: #FFFFFF;
}

.start {
  position: absolute;
  width: 450px;
  height: 70px;
  left: 128px;
  top: 620px;
  cursor: pointer;
  
  background: #EA415B;
  border-radius: 50px;
  border-style: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

.footerMovies {
  position: absolute;
  width: 455px;
  height: 24px;
  left: 529px;
  top: 720px;
  
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

.footerMovies2 {
  color: #7F7C7C;
}

.welcomeMessage2 {
  position: absolute;
  width: 503px;
  height: 240px;
  left: 128px;
  top: 220px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  line-height: 120px;
  
  color: #EA415B;
}

.creditCardMessage {
  position: absolute;
  width: 490px;
  height: 72px;
  left: 128px;
  top: 481px;
  
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  
  color: #7F7C7C;
}

.formMovies {
  position: absolute;
  width: 608px;
  height: 634px;
  left: 766px;
  top: 40px;
  
  background: rgba(133, 193, 226, 0.2);
  border-radius: 50px;
}

.input{
  position: absolute;
  width: 485px;
  height: 72px;
  left: 60px;
  
  background: rgba(255, 251, 251, 0.4);
  border-style:none;
  border-bottom: 2px solid #85C1E2;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  /* identical to box height */

  color: #484848;
}

.number {
  top: 48px;
}

.name{
  top: 178px;
}

.month{
  width: 230px;
  top: 308px;
}

.year{
  width: 230px;
  top: 308px;
  left: 326px;
}

.CVV {
  top: 438px;
}

.text{
  position: absolute;
  width: 500px;
  height: 36px;
  left: 60px;
  
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  /* identical to box height */
  
  
  color: #7F7C7C;
}

.tNumber{
  top: 131px;
}

.tName{
  top: 261px;
}

.tMonth{
  top: 391px;
}

.tYear{
  top: 391px;
  left: 326px;
}

.tCVV{
  top: 521px;
}

.validBtn{
  position: absolute;
  width: 220px;
  height: 70px;
  left: 82px;
  top: 591px;
  cursor: pointer;
  
  background: #EA415B;
  border-radius: 50px;
  border-style: none;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 70px;
  /* identical to box height */
  
  
  color: #FFFFFF;
}

.cleanBtn{
  position: absolute;
  width: 220px;
  height: 70px;
  left: 320px;
  top: 591px;
  cursor: pointer;

  background: #FFFFFF;
  border-radius: 50px;
  border: 2px solid #EA415B;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 70px;
  color: #EA415B;
}

.return{
  height:70px;
  width: 70px;

  border-radius: 100px;
  border-style:none;

  position: absolute;
  left: 128px;
  top: 631px;

  background-color: #85C1E2;

  font-family: 'Poppins';
  font-size:50px;
  color: #FFFFFF;
  
  cursor: pointer;
}

.valid {
  color : #85C1E2;
}

.invalid {
  color: #EA415B;
}

.textOriginal {
  color: #7F7C7C;
}